@media screen and (max-width: 480px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  #frame{
    width: auto;
    
    height: 95vh;
    display: grid;
    grid-template: 
    "screen" 1fr
    "panel" 110px
    /100%
    ;
  }

  #screen{
    /* width: auto; */
    height: auto;
    font-size: 1.5rem;
    overflow-y: auto;
    line-height: 40px;
    grid-area: screen;
  }

  #panel{
    /* width: auto; */
    height: auto;
    grid-area: panel;
  }

  input[type="button"]{
    border: 1px solid white;
    color: white;
  }

}