*{
  /* border: 1px solid black; */
  background-color: black;
}

#frame{
  width: 450px;
  height: 100%;
  margin: auto;
  background-color: black;
  /* display: flex;
  flex-direction: column; */
  /* flex-wrap: wrap; */
  /* display: grid;
  grid-template: 
  "text" 60%
  "slider" 40%
  /auto
  ; */
}

#screen{
  width: 100%;
  height: 300px;
  background-color: black;
  color: white;
  border: 1px solid white;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 30px;
  /* flex: 2; */
  /* grid-area: text; */
}

#panel{
  display: flex;
  width: 100%;
  height: 100px;
  text-align: center;
  border: 1px solid white;
  /* flex: 1; */
  /* grid-area: slider; */
}

#nextbtn{
  /* height: 50px;
  flex: 1; */
  margin: auto;
  width: 150px;
  height: 70px;
  border-radius: 25px;  
  font-weight: bold;
  white-space: normal;
}

#yesbtn , #nobtn{
  /* display: none; */
  width: 150px;
  height: 70px;
  white-space: normal;
  border-radius: 25px;
  font-weight: bold;
}

input[type="button"]{
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.438);
  color: rgba(255, 255, 255, 0.438);
  cursor: pointer;
}

input[type="button"]:focus{
  outline: 0;
  /* border: 1px solid red; */
}

input[type="button"]:hover{
  border: 1px solid white;
  color: white;
}

#block{
  /* flex: 2; */
  margin: auto;
}

/* input[type="button"]{
  margin: 5px auto;
} */

.none{
  display: none;
}

