*{
  border: 1px solid black;
}



#frame{
  width: 450px;
  height: 100%;
  margin: auto;
  /* display: flex;
  flex-direction: column; */
  /* flex-wrap: wrap; */
  /* display: grid;
  grid-template: 
  "text" 60%
  "slider" 40%
  /auto
  ; */
}

#screen{
  width: 100%;
  height: 300px;
  background-color: black;
  color: white;
  margin: 10px auto;
  font-size: 1.2rem;
  line-height: normal;
  /* flex: 2; */
  /* grid-area: text; */
}

#panel{
  display: flex;
  height: 100px;
  text-align: center;
  /* flex: 1; */
  /* grid-area: slider; */
}

#nextbtn{
  /* height: 50px;
  flex: 1; */
  margin: auto;
  width: 150px;
  height: 70px;
  border-radius: 25px;  
  font-weight: bold;
}

#yesbtn , #nobtn{
  /* display: none; */
  width: 125px;
  height: 70px;
  white-space: normal;
  border-radius: 25px;
  font-weight: bold;
}

input[type="button"]:focus{
  outline: 0;
}

#block{
  /* flex: 2; */
  margin: auto;
}

/* input[type="button"]{
  margin: 5px auto;
} */



.none{
  display: none;
}

